@model ProyectoMVC.Models.Trabajadores

@{
    ViewBag.Title = "Eliminar";
}

<h1 style="color:forestgreen" >Eliminar Empleados</h1>

<h3>Deseas eliminar este empleado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoIdentificacion.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoIdentificacion.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identiificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identiificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-success" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
