@model ProyectoMVC.Models.Contratos

@{
    ViewBag.Title = "Borrar";
}

<h1 style="color:forestgreen">Borrar Contratos</h1>

<h2  >Deseas eliminar este contrato?</h2>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trabajador.PrimerNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trabajador.PrimerNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEntidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEntidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrabajadorVinculado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrabajadorVinculado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-success" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
